@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

:root {
  --PrimaryColor: #063B87;
  --SecondaryColor: #DBE7F8;
  --ThirdColor: #FCFDFF;
  --BlackColor: #000000;
  --WhiteColor: #FFFFFF;
  --GreyColorOne: #828282;
  --GreyColorTwo: #BDBDBD;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}