@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --PrimaryColor: rgb(6, 59, 135);
  --SecondaryColor: rgb(219, 231, 248);
  --ThirdColor: #fcfdff;
  --BlackColor: #000000;
  --WhiteColor: #ffffff;
  --GreyColorOne: #828282;
  --GreyColorTwo: #bdbdbd;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.Home {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: var(--WhiteColor);
  position: relative;
  flex-direction: column;
}

.NavBar {
  width: 100%;
  height: 75px;
  margin-top: 10px;
  padding: 10px 5%;
  position: relative;
}

.Navbar {
  width: 100%;
  height: 75px;
  margin-top: 10px;
  padding: 10px;
}

.Wallet .Wallet-header .NavBar .Dashboard,
.SendPayment .NavBar .Dashboard,
.Activity .NavBar .Dashboard,
.Home .NavBar .Wallet,
.SendPayment .NavBar .Wallet,
.Activity .NavBar .Wallet {
  background-color: transparent;
}

.Wallet .NavBar .Dashboard a,
.SendPayment .NavBar .Dashboard a,
.Activity .NavBar .Dashboard a {
  color: var(--BlackColor);
}

.Wallet .NavBar .Wallet,
.SendPayment .NavBar .Send,
.Activity .NavBar .Activity {
  background-color: var(--PrimaryColor);
}

.Wallet .NavBar .Wallet a,
.SendPayment .NavBar .Send a,
.Activity .NavBar .Activity a {
  color: var(--WhiteColor);
}

.Wallet .NavBar ul .Wallet {
  background-color: var(--PrimaryColor);
}
.Wallet .NavBar ul .Wallet a {
  color: var(--WhiteColor);
}

.logo {
  color: var(--PrimaryColor);
  font-size: 26px;
  text-transform: uppercase;
}

.NavBar ul {
  width: fit-content;
  height: 55px;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 30px;
}

.Operation-send {
  position: absolute;
  left: 37%;
  top: 70px;
  opacity: 0;
}

.SendPayment .NavBar .Operation-send .first-operation,
.RequestPayment .NavBar .Operation-send .second-operation,
.Withdraw .NavBar .Operation-send .third-operation {
  background-color: var(--PrimaryColor);
}

.RequestPayment .NavBar .Operation-send .first-operation,
.Withdraw .NavBar .Operation-send .first-operation {
  background-color: transparent;
}

.SendPayment .NavBar .Operation-send .first-operation span,
.RequestPayment .NavBar .Operation-send .second-operation span,
.Withdraw .NavBar .Operation-send .third-operation span {
  color: var(--WhiteColor);
}

.NavBar-list .Send:hover .Operation-send {
  opacity: 1;
}

.NavBar ul li {
  width: 120px;
  height: 100%;
  border-radius: 30px;
}

.NavBar ul li a {
  font-size: 15px;
  color: var(--BlackColor);
}

.Send .Operation-send li span {
  color: var(--BlackColor);
}

.RequestPayment .NavBar .Operation-send .first-operation span,
.Withdraw .NavBar .Operation-send .first-operation span {
  color: var(--BlackColor);
}

.NavBar ul .Dashboard {
  background-color: var(--PrimaryColor);
}

.NavBar ul .Dashboard a {
  color: var(--WhiteColor);
}

.profile-class {
  position: relative;
  width: 300px;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 30px;
}

.profile-class .image,
.setting-icon {
  width: 55px;
  height: 100%;
  border-radius: 50%;
  background-color: var(--GreyColorOne);
}

.profile-class .full-name {
  flex-direction: column;
  margin-left: 10px;
}

.profile-class span {
  font-size: 13px;
  color: var(--BlackColor);
}

.profile-class .name {
  font-size: 15px;
}

.setting-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(130, 130, 130, 0.4);
}

.setting-icon .icon {
  color: var(--BlackColor);
}

.AsideBar {
  width: 32%;
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0;
  background-color: var(--SecondaryColor);
}

.showAsideBar.AsideBar {
  right: 0;
  transition: all 2s ease;
  animation: showAsideBar 2s;
}

@keyframes showAsideBar {
  40% {
    border-radius: 250px 0px 0px 250px / 400px 0px 0px 400px;
  }

  100% {
    border-radius: 0;
  }
}

.CardFITTECH {
  width: 380px;
  height: 230px;
  padding: 0 20px;
  background: linear-gradient(45deg, #020024 0%, #008cb1 35%, #063b87 100%);
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border-radius: 15px;
}

.CardFITTECH .logo h2 {
  color: var(--WhiteColor);
  font-size: 20px;
}

.chip {
  height: 40px;
}

.left-header .left-ligne {
  width: 2px;
  height: 15px;
  opacity: 0.5;
  background-color: var(--PrimaryColor);
}

.CardFITTECH .left-header span {
  font-size: 12px;
  opacity: 0.5;
  color: var(--GreyColorTwo);
}

.card-number {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}

.CardFITTECH .card-number span {
  font-family: "Barlow Condensed", sans-serif;
  color: var(--WhiteColor);
  letter-spacing: 4px;
}

.CardFITTECH .card-holder label,
.CardFITTECH .card-holder span {
  color: var(--WhiteColor);
  font-family: "Barlow Condensed", sans-serif;
}

.card label {
  font-size: 24px;
  font-family: "Barlow Condensed", sans-serif;
}
.card-infos {
  width: 40%;
}

.card-infos .exp label,
.card-infos .exp span,
.card-infos .cvv label,
.card-infos .cvv span {
  color: var(--WhiteColor);
  font-family: "Barlow Condensed", sans-serif;
}

.Home-container {
  width: 100%;
  height: fit-content;
  padding-bottom: 20px;
}

.left-class {
  width: 65%;
  height: fit-content;
  padding-left: 2%;
}

.right-class {
  width: 30%;
  height: 100%;
}

.left-top {
  width: 100%;
  height: 200px;
}

.CardAccount,
.CardSaving {
  width: 40%;
  height: 100%;
  background-color: var(--SecondaryColor);
  border-radius: 20px;
}

.CardAccount .date {
  font-size: 14px;
}

.CardSaving {
  color: var(--PrimaryColor);
}

.total-sales span {
  font-size: 18px;
  color: var(--PrimaryColor);
}

.total-sales h3 {
  position: relative;
  line-height: 50px;
  font-size: 42px;
  color: var(--PrimaryColor);
}

.CardSaving .total-sales h3 span {
  position: absolute;
  top: -8px;
  color: #063b87;
}

.CardAccount .total-sales h3 span {
  position: absolute;
  top: -8px;
}

.CardAccount {
  background-color: #063b87;
}

.CardAccount span,
.CardAccount h3 {
  color: var(--WhiteColor);
}
.right-wallet {
  gap: 20px;
}

.right-wallet span,
.right-transaction span,
.header span,
.Activity-header span,
.header-left span {
  color: #063b87;
  font-size: 22px;
}

.header-left span {
  color: var(--WhiteColor);
}

.right-transaction {
  width: 100%;
  height: 100%;
}

.right-transaction .see-all {
  font-size: 16px;
  cursor: pointer;
  color: var(--GreyColorOne);
}

.right-table {
  width: 100%;
  height: 100%;
}

.TableTransactionReadOnlyRow {
  width: 100%;
  height: 70px;
}

.TableTransactionReadOnlyRow .image {
  width: 40px;
  height: 40px;
  background-color: var(--GreyColorOne);
  border-radius: 50%;
}

.TableTransactionReadOnlyRow .left-ligne-description .name {
  color: var(--BlackColor);
  font-size: 18px;
}

.TableTransactionReadOnlyRow .left-ligne-description .date {
  color: var(--GreyColorOne);
  font-size: 12px;
}

.TableTransactionReadOnlyRow h4 {
  font-size: 20px;
}

.TableTransactionReadOnlyRow h4 span {
  font-size: 12px;
  color: var(--BlackColor);
}

.TableTransaction {
  max-height: 85vh;
  height: fit-content;
  overflow-y: scroll;
  padding-right: 15px;
}

.TableTransaction::-webkit-scrollbar,
.Table-expense::-webkit-scrollbar,
.Table-history::-webkit-scrollbar {
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 2px;
  width: 5px;
}

.TableTransaction::-webkit-scrollbar-thumb,
.Table-expense::-webkit-scrollbar-thumb,
.Table-history::-webkit-scrollbar-thumb {
  background-color: var(--PrimaryColor);
  width: 5px;
  border-radius: 2px;
}

.left-expenses {
  width: 90%;
  height: 65vh;
  border-radius: 20px;
  border: 1px solid var(--PrimaryColor);
  padding: 0 15px;
  padding-top: 10px;
}

.left-expenses .header {
  width: 100%;
}

.left-expenses .header select {
  height: 40px;
  min-width: 100px;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  background-color: rgba(230, 230, 230, 0.5);
  font-size: 16px;
}

.TableExpense {
  width: 100%;
  height: 100%;
}

.expense-table {
  overflow-y: hidden;
}

.Table-expense {
  overflow-y: scroll;
}

.TableExpense th,
.TableHistory th {
  font-size: 14px;
  color: var(--GreyColorOne);
  font-weight: 400;
}

.TableHistory th {
  font-size: 16px;
}

.TableExpense th td,
.TableExpenseReadOnlyRow tr td {
  width: calc(100% / 4);
  text-align: center;
}

.TableHistory th td,
.Table-history tr td {
  width: calc(100% / 5);
  text-align: center;
}

/* login page style */
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--PrimaryColor);
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  background: linear-gradient(-45deg, #fff, #fff);
  top: -10px;
  right: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login-signin {
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.2s 0.7s ease-in-out;
}

form.login-in-form {
  z-index: 2;
}

form.sign-in-form {
  z-index: 1;
  opacity: 0;
}

.title-login {
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  line-height: 36px;
  font-size: 30px;
  margin-bottom: 53px;
}

.input-field label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  color: #fff;
  text-transform: capitalize;
  margin-left: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.email {
  margin-bottom: 14px;
}

.input-field input,
.input-field select {
  width: 392px;
  height: 60px;
  border-radius: 20px;
  font-size: 14px;
  padding-left: 3%;
  background-color: #fff;
  border: none;
  outline: none;
}

.input-field select {
  cursor: pointer;
}

.input-field input::-webkit-input-placeholder {
  color: rgb(186, 186, 186);
}

.input-field input::placeholder,
.sign-in-form .input-field select {
  color: rgb(186, 186, 186);
}

.sign-in-form .input-field input,
.sign-in-form .input-field select {
  width: 362px;
  height: 50px;
  border-radius: 10px;
  font-size: 12px;
}

.sign-in-form .input-field label {
  font-size: 15px;
}

 

.btn-solid {
  width: 392px;
  border-radius: 20px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}

.cnx-btn {
  height: 60px;
  margin-top: 60px;
  background-color: rgba(6, 14, 48, 0.75);
}

.dmnd-btn {
  height: 43px;
  margin-top: 14px;
  background-color: rgba(6, 14, 48, 0.5);
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  height: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panel {
  display: flex;
  flex-direction: column;
  z-index: 7;
}

.left-panel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: all;
}

.right-panel {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}

.panel .content {
  transition: 0.9s 0.6s ease-in-out;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 100vh;
}

.image-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 1.1s 0.4s ease-in-out;
  height: 90vh;
  z-index: 9;
  background-color: #fff;
}

.demande-accee,
.demande-accee2 {
  width: 392px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(6, 14, 48, 0.5);
  border: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.demande-accee2 a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.demande-accee {
  position: absolute;
  right: 11.75rem;
  top: 37rem;
}

.demande-accee2 {
  width: 362px;
  background-color: rgba(79, 129, 255, 1);
  margin-top: 20px;
}

.demande-accee:hover,
.demande-accee2:hover {
  background-color: rgba(6, 14, 48, 1);
  transition: all 1s ease;
  color: #fff;
}

.back-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -16.5rem;
  left: -45rem;
  display: none;
}

.sign-in-form .back-btn i {
  color: var(--PrimaryColor);
}

.left-panel .content,
.right-panel .content {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-panel .content {
  margin-top: 60px;
}

.right-panel .content {
  gap: 28px;
}

.right-panel p {
  width: 476px;
  height: 72px;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: var(--PrimaryColor);
  font-weight: 100;
}

.left-panel .image-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-panel .content,
.right-panel .image-login {
  -webkit-transform: translateX(800px);
  transform: translateX(800px);
}

.sign-in-mode #demande-accee {
  display: none;
}

.sign-in-mode #back-btn {
  display: flex;
}

.sign-in-mode::before {
  -webkit-transform: translateX(100%, -50%);
  transform: translateX(100%, -50%);
  right: -80%;
}

.sign-in-mode .left-panel .image-login,
.sign-in-mode .left-panel .content {
  -webkit-transform: translateX(-800px);
  transform: translateX(-800px);
}

.sign-in-mode .right-panel .image-login,
.sign-in-mode .right-panel .content {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.sign-in-mode .left-panel {
  pointer-events: none;
}

.sign-in-mode .right-panel {
  pointer-events: all;
}

.sign-in-mode .login-signin {
  left: 25%;
}

.sign-in-mode form.login-in-form {
  z-index: 1;
  opacity: 0;
}

.sign-in-mode form.sign-in-form {
  z-index: 2;
  opacity: 1;
}

#demande-accee {
  z-index: 1;
}

.Calendar-container {
  background-color: var(--SecondaryColor);
  border-radius: 30px;
}

.Calendar-header {
  padding-bottom: 16px;
  border-bottom: 0.3px solid rgb(130, 130, 130, 0.4);
}

.today-cercle {
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
}

.today-cercle:hover {
  background-color: var(--SecondaryColor);
}

.BackAccount,
.Activity {
  width: 100%;
  overflow-y: hidden;
  height: 100vh;
}

.SendPayment {
  width: 100%;
  height: fit-content;
}

.BackAccount-container {
  width: 100%;
  height: fit-content;
}

.BackAccount-container h2 {
  color: var(--PrimaryColor);
  font-size: 40px;
}

.BackAccount-container .input-item label {
  font-size: 18px;
  color: var(--PrimaryColor);
}

.BackAccount-container .input-item input {
  width: 541px;
  height: 67px;
  background-color: #ebebeb;
  border-radius: 10px;
  outline: none;
  padding-left: 2%;
  font-size: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.SendPayment .BackAccount-container .Amount-input-class {
  width: 541px;
  height: 67px;
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 0 3%;
}

.SendPayment .BackAccount-container .Amount-input-class input {
  width: 511px;
  height: 67px;
  background-color: #ebebeb;
  border-radius: 10px;
}

.SendPayment .BackAccount-container .input-section select {
  width: 541px;
  height: 67px;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  background-color: #ebebeb;
}

.Bank-btn {
  width: 541px;
  height: 67px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.BackAccount-container .agree-btn {
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
}

.BackAccount-container .cancel-btn {
  background-color: #ebebeb;
}

.Activity-container {
  width: 100%;
  height: calc(100vh - 90px);
}

.Activity-container .Activity-header {
  width: 100%;
  padding: 0 7%;
  margin-top: 32px;
}

.Activity-input {
  width: 416px;
  height: 52px;
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 0 2%;
}

.Activity-input input {
  width: 80%;
  height: 100%;
  background-color: transparent;
  outline: none;
  font-size: 16px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.Activity-input .icon {
  font-size: 24px;
}

.TableHistory {
  width: 100%;
  height: 70vh;
  padding: 0 7%;
  margin-top: 40px;
}

.TableHistory th {
  border-bottom: 1px solid var(--SecondaryColor);
  padding-bottom: 16px;
}

.Table-history {
  height: fit-content;
  max-height: 70vh;
  overflow-y: scroll;
}

.Wallet {
  width: 100%;
  height: fit-content;
  background-color: var(--PrimaryColor);
}

.Wallet-header {
  background-color: var(--PrimaryColor);
  width: 100%;
  height: 100vh;
}

.Wallet-header .NavBar .logo h2 {
  color: var(--WhiteColor);
}

.Wallet-header .NavBar ul {
  background-color: var(--WhiteColor);
}

.Wallet-header .NavBar .Wallet {
  background-color: rgba(230, 230, 230);
}

.Wallet-header .NavBar .Wallet a {
  color: var(--BlackColor);
}

.Wallet-header .NavBar .profile-class {
  background-color: var(--WhiteColor);
}

.Wallet-header-container {
  width: 100%;
  height: calc(100vh - 90px);
}

.Wallet-header-container .header-left {
  width: 48%;
  height: 100%;
  padding: 0 2% 0 5%;
  position: relative;
}

.Wallet-header-container .CardSwiper {
  width: 80%;
  position: absolute;
  left: -6px;
}

.Home .CardSwiper{
  width: fit-content;
}

.Wallet-header-container .header-left .CardFITTECH {
  background: linear-gradient(45deg, #fcfdff 0%, #dbe7f8 35%, #ffffff 100%);
}

.Wallet-header-container .header-left .CardFITTECH .logo h2 {
  color: var(--PrimaryColor);
}

.Wallet-header-container .header-left .CardFITTECH .left-header span,
.Wallet-header-container .header-left .CardFITTECH .card-number span,
.Wallet-header-container .header-left .CardFITTECH .card-holder span,
.Wallet-header-container .header-left .CardFITTECH .card-holder label,
.Wallet-header-container .header-left .CardFITTECH .card-infos .exp label,
.Wallet-header-container .header-left .CardFITTECH .card-infos .exp span,
.Wallet-header-container .header-left .CardFITTECH .card-infos .cvv label,
.Wallet-header-container .header-left .CardFITTECH .card-infos .cvv span {
  color: var(--PrimaryColor);
}

.rapport .CardAccount {
  border: 1px solid var(--ThirdColor);
  width: 60%;
  height: 200px;
}

.rapport .CardAccount span,
.rapport .CardAccount h3 {
  color: var(--ThirdColor);
}


.rapport-item {
  width: fit-content;
  height: 40px;
  padding: 0 20px;
  background-color: var(--WhiteColor);
  border-radius: 20px;
  cursor: pointer;
}

.rapport {
  position: absolute;
  bottom: 10%;
  width: 85%;
}

.rapport-item {
  position: absolute;
  right: 10px;
}

.order-button {
  padding: 0 10px;
  position: absolute;
  right: 5%;
}

.rapport-item span {
  color: var(--PrimaryColor);
  font-size: 14px;
}

.rapport-item .icon {
  color: var(--PrimaryColor);
  font-size: 18px;
}

.pdf-btn {
  position: absolute;
  right: 10px;
  top: 50px;
  width: 120px;
}

.header-right {
  width: 60%;
  padding: 0 1% 0 1%;
  height: fit-content;
  place-items: center;
  gap: 20px;
  margin-top: 65px;
}

.check-it{
  width: 100%;
}

.header-right .CardSaving {
  width: 150%;
  height: 200px;
  background-color: var(--WhiteColor);
}

.WalletAdvice{
  width: 100%;
  background-color: var(--WhiteColor);
  border-radius: 20px;
  height: 200px;
  padding: 2%;
}

.Wallet-Advice-title span{
  color: var(--PrimaryColor);
  font-size: 22px;
}

.WalletAdvice p{
  margin-top: 10px;
  margin-left: 55px;
  line-height: 30px;
}

.Advice-buttons{
  width: 100%;
}

.Advice-buttons input{
  width: fit-content;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 18px;
  color: var(--WhiteColor);
  background-color: var(--PrimaryColor);
}

.Advice-buttons .icon{
  font-size: 30px;
  cursor: pointer;
  color: var(--PrimaryColor);
}

.Wallet-Bank {
  width: 100%;
  height: 100vh;
  background-color: var(--WhiteColor);
  border-radius: 50px 50px 0 0;
  padding: 2% 4%;
}

.Bank-title .icon {
  font-size: 38px;
  color: var(--PrimaryColor);
}

.Bank-title h2 {
  color: var(--PrimaryColor);
  font-size: 32px;
}

.add-class {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--PrimaryColor);
}

.add-class .icon {
  font-size: 18px;
  color: var(--WhiteColor);
}

.All-bank-accounts {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.All-bank-accounts .left {
  width: 50%;
}

.All-bank-accounts .right {
  width: 100%;
}

.All-bank-accounts .left span {
  font-size: 18px;
}

.All-bank-accounts .CardBank {
  width: 300px;
  height: 200px;
  border: 1px solid var(--PrimaryColor);
  padding: 10px;
  border-radius: 10px;
}

.CardBank .icon {
  font-size: 26px;
  color: var(--PrimaryColor);
}

.CardBank-header span {
  font-size: 20px;
  color: var(--PrimaryColor);
}

.Card-footer h3 {
  color: var(--PrimaryColor);
  font-size: 26px;
  position: relative;
}

.Card-footer span {
  position: absolute;
  font-size: 18px;
}

.CardBank-item span,
.CardBank-item p{
  color: var(--PrimaryColor);
}

.CardBank-item span{
  font-size: 14px;
}

.CardBank-item p{
  font-size: 13px;
}

.mySwiper .swiper-item {
  width: 100%;
}

.Transaction-Goal{
  width: 100%;
  height: 100%;
}

.Transaction-Goal .left-class{
  width: 45%;
}
